@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.bg{
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}
#header{
    background-image: linear-gradient(-225deg, #E3FDF5 40%, #FFE6FA 100%);
}

nav#header .inline-block {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    height: 100%;  
}

.section{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url(/banner.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.tooltip-btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip-btn::after {
    content: attr(data-tooltip);
    position: absolute;       
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    white-space: nowrap;
    transition: opacity 0.5s;
}

.tooltip-btn.hover-tooltip::after {
    opacity: 1;
    visibility: visible;
}

.tooltip-btn.tooltip-top::after {
    bottom: 100%; 
    left: 50%;
    transform: translateX(-50%);
}

.tooltip-btn.tooltip-bottom::after {
    top: 100%; 
    left: 50%;
    transform: translateX(-50%);
}

.tooltip-btn.tooltip-left::after {
    right: 100%; 
    top: 50%;
    transform: translateY(-50%);
}

.tooltip-btn.tooltip-right::after {
    left: 100%; 
    top: 50%;
    transform: translateY(-50%);
}

.form-box {
    width: 380px;
    height: 630px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    border-radius: 10px;
}

.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #92c2e979;
    border-radius: 30px;
    display: flex; 
    justify-content: space-between;  
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(100deg, #bae1f0, #55cbcd);
    border-radius: 30px;
    transition: .5s;
}

#insta:hover{    
    background: linear-gradient(150deg, #515BD4, #8134AF, #DD2a7B, #FEDA77, #F58529);
    color: rgba(255, 255, 255, 0.658);
    border-radius: 25px;
}

.input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 6px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(100deg, #bae1f0, #55cbcd);
    border: 0;
    outline: none;
    border-radius: 30px;

}
.check-box{
    margin: 30px 10px 30px 0;
}

span {
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#login {
	left: 50px;
}

#register {
	left: 450px;
}

.work-sans {
    font-family: 'Work Sans', sans-serif;
}
        
#menu-toggle:checked + #menu {
    display: block;
}

.hover\:grow {
    transition: all 0.3s;
    transform: scale(1);
}

.hover\:grow:hover {
    transform: scale(1.02);
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #000;
    
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
}

.form-hidden { 
    display: none; 
}

.checkbox-wrapper input {
    margin-right: 10px;
}

.small-text {
    margin-top: 2rem;
}

.center-text {
    text-align: center;    
    color: #333;
    margin-bottom: 20px;
}

.alert { 
    text-align: center; 
    padding: 10px; 
    margin-bottom: 20px; 
    border: 1px solid transparent; 
    border-radius: 4px; 
} 

.alert-success { 
    color: #155724; 
    background-color: #d4edda; 
    border-color: #c3e6cb; 
}






