@tailwind base;
@tailwind components;
@tailwind utilities;



* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.bg {
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}

#header {
    background-image: linear-gradient(-225deg, #E3FDF5 40%, #FFE6FA 100%);
}

nav#header .inline-block {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    height: 100%;
}

.section {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url(/banner.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.tooltip-btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip-btn::after {
    content: attr(data-tooltip);
    position: absolute;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    white-space: nowrap;
    transition: opacity 0.5s;
}

.tooltip-btn.hover-tooltip::after {
    opacity: 1;
    visibility: visible;
}

.tooltip-btn.tooltip-top::after {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.tooltip-btn.tooltip-bottom::after {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.tooltip-btn.tooltip-left::after {
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.tooltip-btn.tooltip-right::after {
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.form-box {
    width: 380px;
    height: 630px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    border-radius: 10px;
}

.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #92c2e979;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(100deg, #bae1f0, #55cbcd);
    border-radius: 30px;
    transition: .5s;
}

#insta:hover {
    background: linear-gradient(150deg, #515BD4, #8134AF, #DD2a7B, #FEDA77, #F58529);
    color: rgba(255, 255, 255, 0.658);
    border-radius: 25px;
}

.input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 6px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(100deg, #bae1f0, #55cbcd);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.check-box {
    margin: 30px 10px 30px 0;
}

#login {
    left: 50px;
}

#register {
    left: 450px;
}

.work-sans {
    font-family: 'Work Sans', sans-serif;
}

#menu-toggle:checked + #menu {
    display: block;
}

.hover\:grow {
    transition: all 0.3s;
    transform: scale(1);
}

.hover\:grow:hover {
    transform: scale(1.02);
}

.carousel {
    width: 80%; /* Ensure carousel width is contained */
    margin: 0 auto; /* Center carousel */
}

.carousel-item {
    display: none;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative; /* Ensure controls and indicators are inside */
}

.carousel-item img {
    width: 100%; /* Ensure images fit within carousel */
    max-height: 500px;
    object-fit: cover;
    margin: 0 auto;
}

.carousel-item.active {
    display: block; /* Make sure the active item is visible */
}

.carousel-caption {
    position: absolute;
    top: 10px; /* Position at the top */
    left: 10px; /* Position to the left */
    color: #fff; /* Text color for readability */
    z-index: 2; /* Ensure caption is above image */
    background: rgba(0, 0, 0, 0.5); /* Background for better readability */
    padding: 10px;
    border-radius: 5px; /* Rounded corners */
    width: auto; /* Automatically adjust to content size */
    text-align: left; /* Align text to the left */
}

.control {
    display: none; /* Initially hidden */
}

.carousel-open:checked + .carousel-item ~ .control {
    display: block;
}

/* Controls */
.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 40%; /* Center vertically */
    transform: translateY(-50%);
    background: none;
    color: #fff;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10; /* Ensure controls are on top of images */
    padding: 10px; /* Add padding to move them inside the image */
}

.carousel-control-prev {
    left: 11%; /* Slightly inside the image */
}

.carousel-control-next {
    right: 11%; /* Slightly inside the image */
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="%23ffffff" viewBox="0 0 8 8"%3E%3Cpath d="M5.5 0l-4 4 4 4 1.5-1.5L4.5 4l2.5-2.5L5.5 0z"/%3E%3C/svg%3E');
}

.carousel-control-next-icon {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="%23ffffff" viewBox="0 0 8 8"%3E%3Cpath d="M2.5 0l-1.5 1.5L3.5 4l-2.5 2.5L2.5 8l4-4-4-4z"/%3E%3C/svg%3E');
}

/* Indicators */
.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 40%; /* Position indicators at the bottom inside the image */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%);
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    background-color: rgba(255, 255, 255, 0.178);
    border-radius: 50%;
}

.carousel-indicators .active {
    background-color: rgba(255, 255, 255, 0.9);
}

.carousel-bullet {
    cursor: pointer;
    display: block;
    font-size: 1rem; /* Adjust size */
    color: #ccc; /* Corrected color */
}

.carousel-bullet:hover {
    color: #000;
}




.checkbox-wrapper {
    display: flex;
    align-items: center;
}

.form-hidden {
    display: none;
}

.checkbox-wrapper input {
    margin-right: 10px;
}



.center-text {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.alert {
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.logo-adjust {
    transform: translateX(-10px);
}

body {
    padding-bottom: 50px; /* Adjust this value as needed */
}


.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}

