<?php

$finder = PhpCsFixer\Finder::create()
    ->in(['app', 'routes', 'database', 'resources', 'tests'])
    ->notPath('storage')
    ->notPath('vendor');

$config = new PhpCsFixer\Config();
return $config->setRules([
    '@PSR2' => true,
    'array_syntax' => ['syntax' => 'short'],
    'binary_operator_spaces' => ['default' => 'align_single_space'],
    'cast_spaces' => ['space' => 'none'],
    'constant_case' => ['case' => 'upper'],
    'single_quote' => true,
    'no_trailing_whitespace' => true,
    'no_unused_imports' => true,
])
    ->setFinder($finder);

